@import "tailwindcss";
/* @import "tailwindcss/preflight";

@tailwind utilities; */

:root {
  --bg--color: rgb(239, 239, 239);
}

body {
  background-color: var(--bg--color);
}
.fix-height {
  height: calc(100vh - 150px);
}
.ccenter {
  display: flex;
  justify-content: center;
}
